@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* TODO - ogarnać kolory apki */
:root {
  /*(zmienne CSS, zmienne kaskadowe) wywołanie przez np: var(--accent, red) */
  --basic-bright: #f8fafc;
  --basic-middle: #64748b;
  --basic-dark: #020617;
  --accent-bright: #a5f3fc;
  --accent-dark: #155e75;
}

body {
  /* resztę ustawiać rem */
  font-size: 100%;
  /* w mobilnym widoku nic nie wyjdzie w bok */
  overflow-x: hidden;
  background: var(--basic-bright);
  color: var(--basic-dark);
}