@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-basicBright: #f8f8f8;
  --color-basicMiddle: #9ba4af;
  --color-basicDark: #1c3757;
  --color-accentBright: #e67a2c;
  --color-accentDark: #d45c10;
}

:root {
  --font-montserrat: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

body {
  /* resztę ustawiać rem */
  font-size: 100%;
  /* w mobilnym widoku nic nie wyjdzie w bok */
  overflow-x: hidden;
  color: var(--color-basicDark);
}
